@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<div style="text-align: center; margin-top: 20vh;">
    <h1>Welcome to Borrow your equipment!</h1>
    <br/>
    <button @onclick="ViewEquipments" class="btn btn-primary">View All Equipments</button>
</div>

@code {
    private void ViewEquipments()
    {
        // Navigate to the "view-equipments" page or perform any desired action
        NavigationManager.NavigateTo("/Equipment/all");
    }
}
